/*
    Group:            4
*/

/****************** SOURCE INFORMATION FOR CSS STYLES ******************/
/* This design is based on the Holy Grail layout provided to us in the
/* lecture notes. That is, we got the code from the following:
/*		http://codepen.io/pfederl/pen/bgRvqR?editors=1100
/***********************************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

@import url(https://fonts.googleapis.com/css?family=Pacifico:400,700);

/* https://coolors.co/551d00-9d6146-b47458-981a3f-eb8a91 */

html, body {
    height: 100%;
}

body {
	color: #551d00;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	background-color: #eb8a91;
	min-height: 100%;

	background: #FFEDBC; /* fallback for old browsers */
	background: -webkit-linear-gradient(180deg, #ee9fa5 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(180deg, #ee9fa5 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flex-container {
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
	height: 100%;
	text-align: center;
}

/******************************************************************
LOGO STUFF
******************************************************************/

#logo {
		flex: 0 1 auto;
		align-self: auto;
}

#logo img {
	max-width: 100%;
  padding-bottom: 10px;
}


/******************************************************************
FORM
******************************************************************/

/* Reference: http://bootsnipp.com/snippets/featured/register-page-design */

.form-control {
  height: auto!important;
  padding: 8px 12px !important;

}

.main-center{
 	max-width: 480px;
  width: 100%;
  padding: 10px 10px;
  padding-top: 40px;
}

.input-group span.input-group-addon {
  background-color: #981a3f;
  color: white;
  font-size: 17px;
  border-color: #981a3f;
}

.input-group input {
  border-color: #981a3f;
  transition: .2s ease-in-out;
  color: #551d00;
}

.input-group input::placeholder {
  color: #c89985;
}

.input-group input:focus {
  border-color: rgba(235, 138, 145, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(235, 138, 145, 0.6);
}

.btn-google {
  height:37px;
  background-color: #eb8a91;
  border-color: #981a3f;
  text-align: center;
  transition: .2s ease-in-out;
}

.btn-social>:first-child {
  border-right: 1px solid rgba(152,26,63,0.8);
  background-color: #981a3f;
  width:41px;
}

.btn-google:hover {
  background-color: #D46B7B;
  border-color: #981a3f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(235, 138, 145, 0.6);
}

/******************************************************************
FANCY DIVIDER
******************************************************************/

/* Reference: http://jessica-eldredge.com/2014/01/26/headings-with-lines/ */

.fancy {
  overflow: hidden;
  text-align: center;
	font-size: 3em;
  padding-bottom: 19px;
	margin-top: 0px;
	margin-bottom: 0px;
  order: 0;
  font-family: 'Pacifico';
}

.fancy span {
  display: inline-block;
  padding: 0 20px;
  position: relative;
}

.fancy span:before,
.fancy span:after {
  background: #551d00;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 60%;
  width: 300%;
}

.fancy span:before {
  right: 100%;
}

.fancy span:after {
  left: 100%;
}

@media (max-width: 480px) {
	#logo, .main-center {
		max-width: 85%;
	}
}
