/*
    Group:            4
*/

/****************** SOURCE INFORMATION FOR CSS STYLES ******************/
/* This design is based on the Holy Grail layout provided to us in the
/* lecture notes. That is, we got the code from the following:
/*		http://codepen.io/pfederl/pen/bgRvqR?editors=1100
/***********************************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

@import url(https://fonts.googleapis.com/css?family=Pacifico:400,700);

/* https://coolors.co/551d00-9d6146-b47458-981a3f-eb8a91 */

html,body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height:100%;
}

body {
	color: #551d00;
	font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
	background-color: white;
}

body:after {
	content: 'widescreen';
	display: none;
}

@media (max-width: 767px) {
	body:after { /* http://adactio.com/journal/5429/ */
			content: 'smallscreen';
			display: none;
	}
}


/******************************************************************
NAVIGATION BAR
******************************************************************/

.navbar {
  border-color: #981a3f;
  margin-bottom: 0px;
  background: #f49fa5; /* fallback for old browsers */
	background: -webkit-linear-gradient(90deg, #f49fa5 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #f49fa5 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
	height: auto;
	padding-left: 25px;
	padding-right: 40px;
}

.navbar-brand {
  height: auto;
}

.navbar-brand > img {
	width: 100%;
	height: auto;
}

#nav-content {
	padding-top: 25px;
}

.navbar-nav > li > a {
  font-size:30px;
  color: #981a3f;
	transition: .5s color;
}

.navbar-nav > li > a:focus {
	background-color: transparent;
}

.navbar-nav > li > a:hover {
  background: none;
  color: #f49fa5;
}

.navbar-toggle {
	height: 100px;
	font-size: 3em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

@media (max-width: 767px) {
	#nav-content {
		padding-top: 0px;
		text-align: center;
	}

	.navbar-right {
		margin: auto;
		padding: 0px;
	}
}

@media (max-width: 500px) {
	.navbar {
		padding: 0px;
	}

	.navbar-brand {
		padding-left: 10px;
	}

	.logout-btn {
		margin-bottom: 50px;
		padding-bottom: 50px;
	}

	.navbar-toggle {
			margin-left: 0px;
			margin-right: 0px;
	}
}


/******************************************************************
SEARCH BOX
******************************************************************/

.input-group {
	text-align: center;
}

.search-bar .search {
	border-color: #981a3f;
  color: #551d00;
}

.search-bar .search:focus {
	border-color: rgba(235, 138, 145, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(235, 138, 145, 0.6);
}

.search-bar .search-btn:active {
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}

.search-bar .search-btn:enabled {
	border: none;
	outline: none;
	box-shadow: none;
}

.search-bar .search::placeholder {
  color: #eb8a91;
}


@media (max-width: 767px) {
	.search-bar {
		display: block;
		padding: 0px;
	}

	.search-btn {
		float:right;
		width: 100%;
	}

	.search-bar-closed .search-btn {
		top: -20px;
	}

	.search-bar-open .search-btn {
		margin-bottom: 10px;
	}
}

/***************************** OPEN ******************************/

.search-bar-open .search-input {
	visibility: visible;
	transition: .2s ease-in;
	height: 55px;
}

.search-bar-open .search-btn {
	background-color: #981a3f;
  color: white;
  border-color: #981a3f;
	transition: .5s background-color, .5s color;
	font-size: 30px;
	height: 55px;
}

.search-bar-open .search-btn:hover {
	background-color: #f49fa5;
	color: white;
	border-color: #f49fa5;
}

/**************************** CLOSED *****************************/

.search-bar-closed .search-input {
	visibility: collapse;
	transition: .2s ease-out;
}

.search-bar-closed .search-btn {
	background-color: transparent;
  color: #981a3f;
  border-color: transparent;
	transition: .5s background-color, .5s color;
	font-size: 30px
}

.search-bar-closed .search-btn:hover {
	color: #f49fa5;
}

/******************************************************************
ALBUM HEADER
******************************************************************/

.header {
	text-align: center;
	font-size: 2em;
	padding-bottom: 30px;
	padding-top: 90px;
	color: #981a3f;
	/*background-color: #f49fa5;*/
	margin-top: 0px;
}

.header .user-name {
	font-family: 'Pacifico';
	display: inline-block;
	font-size: 1.25em;
}

.header .subheading {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
}

.header .user-icon .fa-circle {
	color: #981a3f;
}

.header .user-icon .fa-user {
	color: white;
}

.header .line {
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
	padding-top: 10px;
}

.header .line hr {
	border-top: 1px solid #551d00;
}


@media (max-width: 767px) {
	.header .line hr {
		display: none;
	}
	.header {
		padding-top: 45px;
	}
}

/******************************************************************
ALBUM THUMBNAILS
******************************************************************/

.album {
	text-align: center;
	color: #551d00;
}

.album-content {
	padding-left: 40px;
	padding-right: 40px;
  height:100%;
  overflow:auto;
}

.thumbnail {
  border: none;
	background-color: #fff2dd;
}

.thumbnail:hover {
	text-decoration: none;
	cursor: pointer;
}

.thumbnail  .album-pic {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 100%;
}

.album-img {
	max-width: 300px;
	width:100%;
}


@media (max-width: 767px) {
	.album-content {
		padding-left: 0px;
		padding-right: 0px;
	}

	.thumbnail:hover {
		cursor: default;
	}
}


/************************* OVERLAY THING ***************************/

.thumbnail .album-overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 75px;
	font-size: 3em;
	color: white;
	opacity: 0;
  z-index: 100 !important;
}

.thumbnail:hover .album-overlay {
	opacity: 1;
	transition: .3s ease-in-out;
	cursor: pointer;
}


.thumbnail .album-overlay .delete-photo-icon  {
	transition: .5s color;
	padding: 5px;
}

.thumbnail .album-overlay .delete-photo-icon:hover {
	color: #981a3f;
}


.thumbnail .album-img  {
	opacity: 1;
	transition: .3s ease-in-out;
}

.thumbnail:hover .album-img {
  opacity: 0.75;
}

/**************************** ADD THING ****************************/

.after {
	display: flex;
	justify-content: center;
	height: 230px;
	align-items: center;
}

.add-btn {
	color: #fcdab6;
	font-size: 7.5em;
	width: 100%;
	background-color: transparent;
	border: none;
	transition: .5s color;
}

.add-btn:hover {
	color:  #f49fa5;
	cursor: pointer;
}

.add-btn:active,
.add-btn:enabled {
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	padding: inherit;
}

.add-btn {
	margin-bottom:30px;
}

@media (max-width: 767px) {
	.after {
		height: 180px;
	}

	.album .add-btn {
		padding-top:0px;
	}
}


/******************************************************************
LIGHTBOX
******************************************************************/

/* Reference: http://bootsnipp.com/snippets/featured/bootstrap-lightbox */

.modal-dialog {
  margin: auto;
  margin-top: 50px;
}

.modal-content {
  display: inline-block;
  text-align: center;
	color: #551d00;
}

#lightbox .modal-content {
  background-color: white !important;
}

.modal-header {
	color: #551d00;
	border-bottom: 1px solid #b47458;
}

.modal-footer {
  color: #551d00;
  border-top: 1px solid #b47458;
}

.modal .close {
  opacity: 1;
  color: white;
  background-color: #981a3f;
  padding: 5px 8px;
  border-radius: 30px;
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  z-index:1032;
  transition: .5s background-color;
}

.modal .close {
  left: 97%;
  top: -10px;
}

.modal .close:hover {
	background-color: #eb8a91;
}

#del_img_msg,
#del_msg {
	color: #b47458;
}

#albumformbox .modal-dialog,
#deletebox .modal-dialog,
#error-msg-box .modal-dialog {
  width: 300px;
}

#editorbox .modal-dialog {
  width: 85%;
}

#albumformbox .modal-content,
#editorbox .modal-content,
#deletebox .modal-content,
#error-msg-box .modal-content {
	display: inline-block;
	text-align: center;
	padding: 10px;
  width: 100%;
}

.album-name-box {
  border: 1px solid #981a3f;
  transition: .2s ease-in-out;
  color: #551d00;
  padding: 5px;
  width: 100%;
}

*:focus, *:active {
    outline: none !important;
}

.album-name-box::placeholder {
  color: #eb8a91;
}

.album-name-box:focus {
  border-color: rgba(235, 138, 145, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(235, 138, 145, 0.6);
}

.new-album-btn,
.new-album-btn:enabled {
  margin-top: 10px;
  width: 100%;
  background-color: #981a3f;
  color: white;
  border-color: #981a3f;
  transition: .5s background-color, .5s color;
}

.new-album-btn:hover,
.new-album-btn:active {
  background-color: rgba(235, 138, 145, 0.8);
  border-color: #eb8a91;
  color: white;
}

.modal .btn-default,
.modal .btn-default:enabled {
  background-color: #fcdab6;
  color: #551d00;
  border: 0px;
  transition: .5s background-color;
  margin-left: 5px;
  margin-right: 5px;
}

.modal .btn-default:hover,
.modal .btn-default:active{
  background-color: #f8c48d !important;
}

/******************************************************************
SIDEBAR
******************************************************************/
/* http://www.bootply.com/108620# */

.row-offcanvas {
  height:100%;
}

.show-menu {
	width: 45px;
	height: 45px;
	position: fixed;
	left: 0px;
	top: 110px;
	z-index: 500;
	background-color: #981a3f !important;
	border: 1px solid white !important;
	border-left: none !important;
	border-radius: 0px;
}

.show-menu:hover {
	background-color: #eb8a91 !important;
	border: 1px solid white !important;
	border-left: none !important;
}

.delete-album-icon {
	color: white;
}

.delete-photo-icon-small  {
	color: #eb8a91;
  float: right;
}

.delete-album-icon,
.delete-photo-icon-small {
	padding-left: 10px;
	padding-right: 10px;
	height: 20px;
	font-size: 1.5em;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, color 0.2s;
}

.panel-heading:hover .delete-album-icon,
table td:hover .delete-photo-icon-small {
	visibility: visible;
	opacity: 1;
}

.delete-album-icon:hover,
.delete-photo-icon-small:hover {
	color: #981a3f;
	cursor: pointer;
}

#add-new-album-btn, .album-title {
  padding-left: 5px;
}


/* https://codepen.io/Sp00ky/pen/aZJWLa */

.panel-body {
	padding:0px;
  border: none !important;
}

.panel-body table tr td {
	padding-left: 15px;
	border: 1px solid #b47458;
}

.picture-name {
	padding-left: 5px;
}

.panel-body table tr {
	border: none;
}

.panel-body .table {
	margin-bottom: 0px;
	background-color: white;
	border-radius: 0px;
	border: 1px solid #fff2dd !important;
	box-shadow: none !important;
	color: #551d00;
}

.panel-heading {
	background-color: #fcdab6 !important;
	color: #551d00 !important;
	border-radius: 0px;
	border: 1px solid #b47458 !important;
	box-shadow: none !important;
}

#sidebar {
  width: inherit;
  min-width: 275px;
  max-width: 275px;
  background-color:#fff2dd;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
	padding-top: 59px;
}

.panel-group .panel+.panel {
  margin-top: 0;
  border-top: 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default {
	border: none;
}

.panel-default .panel-heading {
  border-color: #fff2dd;
  padding: 0;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  float: right;
  transition: transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #f8c48d;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\e113";
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\e114";
}

#add-new-img-btn:hover {
  cursor: pointer;
}

#add-new-album a:after {
  content: "\2b";
}


@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out;
    width:calc(100% + 275px);
  }

	.show-menu {
    transition: all 0.25s ease-out;
	}

  .row-offcanvas-left
  {
    left: -275px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }


	.row-offcanvas-left.active  .show-menu {
		left: 275px;
	}

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


/******************************************************************
ONLINE USERS
******************************************************************/
