/*
    Group:            4
*/

/****************** SOURCE INFORMATION FOR CSS STYLES ******************/
/* This design is based on the Holy Grail layout provided to us in the
/* lecture notes. That is, we got the code from the following:
/*		http://codepen.io/pfederl/pen/bgRvqR?editors=1100
/***********************************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

@import url(https://fonts.googleapis.com/css?family=Pacifico:400,700);

/* https://coolors.co/551d00-9d6146-b47458-981a3f-eb8a91 */

body {
	color: #551d00;
	font-family: 'Open Sans', sans-serif;
  padding-top: 120px;
  padding-bottom: 30px;
}


/******************************************************************
NAVIGATION BAR
******************************************************************/

.navbar {
  border-color: #981a3f;
  margin-bottom: 0px;
  background: #ee9fa5; /* fallback for old browsers */
	background: -webkit-linear-gradient(90deg, #ee9fa5 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #ee9fa5 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
	height: auto;
}

.navbar-brand {
  height: auto;
}

.navbar-brand > img {
	width: 100%;
	height: auto;
}

#nav-content {
	padding-top: 25px;
}

.navbar-nav > li > a {
  font-size:30px;
  color: #981a3f;
	transition: .5s color;
}

.navbar-nav > li > a:focus {
	background-color: transparent;
}

.navbar-nav > li > a:hover {
  background: none;
  color: #D46B7B;
}

.navbar-toggle {
	height: 100px;
	font-size: 3em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

@media (max-width: 767px) {
	#nav-content {
		padding-top: 0px;
		text-align: center;
	}
}

@media (max-width: 305px) {
	.navbar-brand {
		padding-left: 10px;
	}

	.navbar-toggle {
			margin-left: 0px;
			margin-right: 0px;
	}
}


/******************************************************************
SEARCH BOX
******************************************************************/

.input-group {
	text-align: center;
}

.search-bar .search-btn:active {
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}



.search-bar .search-btn:enabled {
	border: none;
	outline: none;
	box-shadow: none;
}


@media (max-width: 767px) {
	.input-group {
		padding-top: 0px;
	}

	.navbar-form {
		width: 100%;
		margin: 0px;
	}
}

/***************************** OPEN ******************************/

.search-bar-open .search {
	border-color: #981a3f;
  color: #551d00;
}

.search-bar-open .search-input {
	visibility: visible;
	transition: .2s ease-in;
	height: 55px;
}

.search-bar-open .search::placeholder {
  color: #eb8a91;
}

.search-bar-open .search:focus {
	border-color: rgba(235, 138, 145, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(235, 138, 145, 0.6);
}

.search-bar-open .search-btn {
	background-color: #981a3f;
  color: white;
  border-color: #981a3f;
	transition: .5s background-color, .5s color;
	font-size: 30px;
	height: 55px;
}

.search-bar-open .search-btn:hover {
	background-color: #D46B7B;
	color: white;
	border-color: #D46B7B;
}

/**************************** CLOSED *****************************/

.search-bar-closed .search-input {
	visibility: collapse;
	transition: .2s ease-out;
}

.search-bar-closed .search-btn {
	background-color: transparent;
  color: #981a3f;
  border-color: transparent;
	transition: .5s background-color, .5s color;
	font-size: 30px
}

.search-bar-closed .search-btn:hover {
	color: #D46B7B;
}


/******************************************************************
ALBUM HEADER
******************************************************************/

.album-header {
	text-align: center;
	font-size: 2em;
	padding-bottom: 30px;
	padding-top: 20px;
}


.album-header .user-name {
	display: inline-block;
}

.album-header .user-icon .fa-circle {
	color: #981a3f;
}

.album-header .user-icon .fa-user {
	color: white;
}

/******************************************************************
THUMBNAILS
******************************************************************/

.album {
	text-align: center;
	color: #551d00;
}

.thumbnail {
  border: none;
}

.thumbnail:hover {
	text-decoration: none;
}

.thumbnail:hover .album-caption {
	color:  #9d6146;
}

.album-pic {
	display: flex;
	justify-content: center;
}

.thumbnail .album-overlay {
	position: absolute;
	top: 25px;
	visibility: collapse;
	opacity: 0;
	transition: .3s ease-in-out;
}

.thumbnail:hover .album-overlay {
	opacity: 1;
	visibility: visible;
}

.thumbnail .album-img {
	opacity: 1;
	transition: .3s ease-in-out;
}

.thumbnail:hover .album-img {
  opacity: 0.7;
}

 .album-after {
	display: flex;
	justify-content: center;
}

.album-add-btn {
	color: #FFEDBC;
	font-size: 7.5em;
	width: 100%;
	background-color: transparent;
	border: none;
	transition: .5s color;
}

.album-add-btn:hover {
	color:  #ee9fa5;
}
